.buffer-img {
    width: 100vw;
    height: 40vh;
}

.cta-btn {
    background-color: #93C4FF !important;
    color: black !important;
}

.cta-btn:hover {
    color: white !important;
}

.buffer-list {
    font-family: 'Modern';
}

.buffer-txt {
    font-family: "Open";
}


@media screen and (min-width: 768px) {
    .buffer-img {
        width: 40vw;
        height: 40vh;
        margin-bottom: 2rem;
    }
    
}

@media screen and (min-width: 992px) {
.buffer-img {
    width: 50vw;
    height: 50vh;
}
.buffer-txt {
    font-size: 20px;
}
}