.text-style {
    font-family: 'Modern';
    font-size: 30px;
}

.header-txt {
    font-family: 'Modern';
}

.body-text {
    font-family: "Open";
    font-size: 17px;
}

.container-bg {
    background-color: #93C4FF !important;
}

